.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed!important
}

fieldset {
    background: whitesmoke;
    padding: 0;
    margin: 0!important;
    border-left: none;
    border-right: none;
    & legend {
        text-align: left;
        background: black;
        color: white;
        padding: 8px;
        border-radius: 8px;
        margin-left: 16px
    }
}